@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Rubik+Bubbles&family=Rubik+Moonrocks&display=swap");

* {
  padding: 0;
  margin: 0;
}
:root {
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  --text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
body {
  font-family: "Rubik Moonrocks", cursive;
  color: rgb(255, 255, 255);
  /* background-attachment: fixed; */
  text-align: center;

  /* background-image: url("https://images.unsplash.com/photo-1484821582734-6c6c9f99a672?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2833&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1624053009043-c8b9447eadc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"); */

  text-shadow: var(--text-shadow);
}

.container {
  background-image: url("./assets/images/cover-photo.png");
  background: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

#title {
  color: #ffffff;
}

.gamearea > h2 {
  color: #ffffff;
}
#score {
  font-size: 2rem;
}
.circles {
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 800px;
  justify-content: space-between;
  gap: 2rem;
}

.circle {
  height: 150px;
  width: 150px;
  /* background-color: #f5cdff; */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.circle.active {
  background-color: #fff225;
  background: url("./assets/images/Shiba.png");
  /* background: url("https://as2.ftcdn.net/v2/jpg/04/34/74/41/1000_F_434744139_yqDjTwer52TYI2xDTzPeGV2PxTOWPfiD.jpg"); */
  background-position: center;
  background-size: 230px;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

button:hover {
  transform: scale(1.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 1rem;
  width: 40%;
  min-height: 25%;
  border-radius: 5px;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

#result {
  font-size: 1.5rem;
}

#stop {
  display: none;
}

.startHidden,
.stopHidden {
  display: none;
}

.stop,
.start {
  display: inline-block;
}

@media (max-width: 1200px) {
  .circles {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
}
